@font-face{
  font-family: 'Calibri';
  src: url('fonts/Calibri.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Calibri';
  src: url('fonts/Calibri_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: 'Broadsheet';
  src: url('fonts/Broadsheet\ Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Global styles */
body {
  font-family: 'Calibri';
  /* font-weight: bold; */
  margin: 0;
  padding: 0;
  background-color: #70ad47;
  /* background-color: #96be1f; */
  /* background-color: #92b109; */
  background-image: url('bilder/textur.avif');
  background-size: cover;
  background-blend-mode: multiply;
  color: #fff;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

/* Main styles */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  gap: 5%;
  margin-top: 0;
}

/*video styles*/
.video {
  margin-top: 0;
  position: relative;
  width: 25%;
  height: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  overflow: hidden;
  background-color: black;
  z-index: 0;
}

.video:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  filter: brightness(1.2);
}

.video img {
  position:absolute;
  object-fit:cover;
  height: 100%;
  width: 100%;
  z-index:-1;
}


.video h2 {
  position: relative;
  margin-top: 5%;
  margin-bottom: 0%;
  margin-left: 5%;
  font-size: 20px;
  z-index: 2;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 0px 10px;

}

.video p {
  position: relative;
  margin-top:0%;
  margin-left: 5%;
  font-size: 16px;
  opacity: 0.8;
  z-index: 2;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 0 3px;
}

.shadow{
  position:absolute;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.15);
  margin: 0;
  padding: 0;
  z-index: 1;
  height:17%;
  width: 100%;
} 

/* play button for videos*/
a.button{
  position: absolute;
  bottom:5%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 20px;
  border-radius:20%;
  background-color: #70ad47;
  box-shadow: inset 0 -3px 10px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-decoration: none;
  text-align:center;
  opacity:100%;
  transition: background-color 0.3s ease;
  z-index: 2;
  font-size: 16px;
}

a.button:hover {
  background-color: #4d7f32;
  /* background-color: #799207; */
}

.slide-img{
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
  background-color: black;
}

/*head titel*/
.slogan{
  font-size: 6vh;
  height:7h;
  margin-top: 5%;
  margin-bottom: 3%;
  text-align: center;
  font-family: 'Broadsheet';
  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 5px;

}


/*small image in the bottom right corner*/
.logo-container img{
  position: relative;
  width: 40vh;
  max-height: 7vh;
  margin-left: 8%;
  margin-right: 0.5%;
  margin-top: 4.5%;
}